---
import BaseHead from "../components/BaseHead.astro";
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

// add a TODO to the front page
const todos = ["Personalize About Me", "Add Image"];
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("August 08 2021")}
	heroImage={AboutHeroImage}
>
	<html lang="en">
		<head>
			<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		</head>
		<body>
			<main>
				<h1>Portfolio Redesign & Blog Addition</h1>
				<h2>TODO</h2>
				<ul>
					{
						todos.map((todo) => (
							<li>
								<label>
									<input type="checkbox" />
									<span>{todo}</span>
								</label>
							</li>
						))
					}
				</ul>
			</main>
		</body>
	</html>
</Layout>
